<% if(@content[:pages] > 1) %>
<ul class="paginator clearfix">
  <% if(@content[:page].to_i != 1) %>
  <li><a class="first" href="?page=1">primeira</a></li>
  <% end %>
  <% if(@content[:page].to_i - 1 > 0) %>
  <li><a class="previous" href="?page=<%= @content[:page].to_i - 1 %>"><</a></li>
  <% end %>
  <% @content[:pages].times do |page| %>
  <% page += 1 %>
  <li><a href="?page=<%= page %>"><%= page %></a></li>
  <% end %>
  <% if(@content[:page].to_i + 1 <= @content[:pages]) %>
  <li><a class="next" href="?page=<%= @content[:page].to_i + 1 %>">></a></li>
  <% end %>
  <% if(@content[:page] != @content[:pages]) %>
  <li><a class="last" href="?page=<%= @content[:pages] %>">última</a></li>
  <% end %>
</ul>
<% end %>