<!-- slider -->
<%= render 'shared/slider' %>
<div id="main" class="clearfix">
  <nav id="highlights" class="clearfix">
    <ul>
      <li><a href="#"><img src="<%= asset_path 'layout/highlights/image1.jpg' %>" alt="" title="" /></a></li>
      <li><a href="#"><img src="<%= asset_path 'layout/highlights/image2.jpg' %>" alt="" title="" /></a></li>
      <li class="last"><a href="#"><img src="<%= asset_path 'layout/highlights/image2.jpg' %>" alt="" title="" /></a></li>
    </ul>
  </nav>
  <section class="posts">
    <% @recent_posts.each do |post| %>
    <article class="clearfix">
      <div class="pull-left">
        <% if(post.thumbnail) %>
        <figure><img src="<%= post.thumbnail %>" title="" alt=""/></figure>
        <% end %>
      </div>
      <div class="pull-right">
        <nav>
          <% post.categories.each do |category| %>
          <a href="/category/<%= category['slug'] %>"><%= category['title'] %></a>
          <% end %>
        </nav>
        <header>
          <h2><%= post.title %></h2>
          <h3 class="author">
            <span>
              <a href="/author/<%= post.author_slug %>">
                <%= post.author_nickname %></a> em <a href="#"><%= l(post.date, format: :long) %>
              </a>
            </span>
          </h3>
        </header>
        <%= post.content_preview.html_safe %>
        <a href="/post/<%= post.slug %>" class="keep-reading">Continuar lendo</a>
      </div>
    </article>
    <% end %>        
    
    <ul class="paginator clearfix">
      <!--<li><a class="first" href="#">primeira</a></li>-->
      <!--<li><a class="previous" href="#"><</a></li>-->
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a class="next" href="#">></a></li>
      <li><a class="last" href="#">última</a></li>
    </ul>
  </section>
  <aside class="side-bar">
    <div class="side-content first">
      <ul class="three-links clearfix">
        <li><a class="twitter" href="#"><em>13,769</em>Seguidores no Twitter</a></li>
        <li><a class="facebook" href="#"><em>40,667</em>Fãs no Facebook</a></a></li>
        <li class="last"><a class="google" href="#"><em>5,332</em>Seguidores no Google</a></li>
        
      </ul>
    </div>
    <div class="side-content">
      <div class="single-link">
        <h2 class="block-punish"><a href="#">block punish</a></h2>
        <p>Aprenda quais golpes usar contra golpes defendidos de seu oponente</p>
      </div>
    </div>
    <div class="side-content">
      <table class="most-viewed">
        <tr>
          <th>Tutoriais mais visados</th>
        </tr>
        <tr>
          <td><a href="#"><em>Tier List</em> Spokane Valley</a></td>
        </tr>
        <tr>
          <td><a href="#"><em>Glossário</em> Spokane Valley</a></td>
        </tr>
        <tr>
          <td><a href="#"><em>Arcades</em> Spokane Valley</a></td>
        </tr>
        <tr>
          <td><a href="#"><em>Frame Data</em> Spokane Valley</a></td>
        </tr>
        <tr>
          <td><a href="#"><em>Frame Data</em> Spokane Valley</a></td>
        </tr>
        <tr>
          <td><a href="#"><em>Frame Data</em> Spokane Valley</a></td>
        </tr>
        <tr>
          <td><a href="#"><em>Frame Data</em> Spokane Valley</a></td>
        </tr>
        <tr>
          <td class="more-articles"><a href="#">Mais artigos de estudo</a></td>
        </tr>             
      </table>
    </div>
    <div class="side-content last">
      <div class="two-links">
        <a href="#"><img class="first" alt="super champs" title="super champs" src="<%= asset_path 'layout/partners/super-champs.jpg' %>" /></a>
        <a href="#"><img alt="srk" title="srk" src="<%= asset_path 'layout/partners/srk.jpg' %>" /></a>            
      </div>
    </div>
  </aside>
</div>
