<% @recent_posts.each do |post| %>
	<h1><%= post.title %></h1>
  <% post.categories.each do  |c| %>
    <a href="#"><%= c['title'] %></a>
  <% end %>
  <a href="#"><%= post.author_nickname %></a> em  <%= l(post.date, format: :long) %>
  <% if(post.thumbnail) %>
  	<img src="<%= post.thumbnail %>" width="200" height="200">
  <% end %>	
  <article><%= post.content.html_safe %></article>
<% end %>